{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block pagetitle %}{% translate "Adventure" %}{% endblock %}

{% block corpsdepage %}
                    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
						<!-- begin:: Subheader -->
						<div class="kt-subheader   kt-grid__item" id="kt_subheader">
							<div class="kt-container  kt-container--fluid ">
								<div class="kt-subheader__main">
									<h3 class="kt-subheader__title">
										<button class="kt-subheader__mobile-toggle kt-subheader__mobile-toggle--left" id="kt_subheader_mobile_toggle"><span></span></button>
										{{ adventure }} </h3>
									<span class="kt-subheader__separator kt-hidden"></span>
									<div class="kt-subheader__breadcrumbs">
										<a href="{% url 'basics' %}" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
										<span class="kt-subheader__breadcrumbs-separator"></span>
										<a href="{% url 'basics' %}" class="kt-subheader__breadcrumbs-link">
											{% translate "Basics" %} </a>
										<span class="kt-subheader__breadcrumbs-separator"></span>
											{% translate "Adventure" %}s

										<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
									</div>
								</div>
							</div>
						</div>

						<!-- end:: Subheader -->
						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="row">
								<div class="col-lg-4">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Training" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for training in trainings %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
                                                        <span class="kt-list-timeline__text"><a href="{{ training.get_absolute_url }}">{{ training }}</a></span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
								<div class="col-lg-4">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Book" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for book in books %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
														<span class="kt-list-timeline__text"><span data-popover-remote="{{ book.get_absolute_url }}" data-title="{{ book }}">{{ book }}</span> ({% if book.location.coordinates %}<a data-toggle="modal" data-target="#modal_map" href="" data-position="{{ book.location.coordinates }}">{{ book.location }}</a>{% else %}{{ book.location }}{% endif %})</span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}

{% block js %}
    <style>
    .popover {
        min-width: 30em !important;
    }
    </style>

    <script>
        $(document).ready(function () {
            var popoverRemoteContents = function (element) {
                if ($(element).data('loaded') !== true) {
                    var div_id = 'tmp-id-' + $.now();
                    $.ajax({
                        url: $(element).data('popover-remote'),
                        success: function (response) {
                            $('#' + div_id).html(response);
                            $(element).attr("data-loaded", true);
                            $(element).attr("data-content", response);
                            return $(element).popover('update');
                        }
                    });
                    return '<div id="' + div_id + '">{% translate "Loading..." %}</div>';
                } else {
                    return $(element).data('content');
                }
            };

            $('[data-popover-remote]')
                .click(false)
                .popover({
                    html: true,
                    trigger: 'hover',
                    sanitize: false,
                    container: 'body',
                    content: function () {
                        return popoverRemoteContents(this);
                    }
                });
        });
    </script>
{% endblock %}