{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block pagetitle %}{% translate "Adventure" %}{% endblock %}

{% block corpsdepage %}
    {% trans "None" as none %}

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <div class="d-flex align-items-center me-3">
                    <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">{{ adventure }}</h1>
                    <span class="h-20px border-gray-200 border-start mx-4"></span>
                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                        <li class="breadcrumb-item text-muted">
                            <a href="{% url "basics" %}" class="text-muted text-hover-primary">{% translate "Basics" %}</a>
                        </li>
                        <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
                        <li class="breadcrumb-item text-muted">{% translate "Adventure" %}s</li>
                        <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
                        <li class="breadcrumb-item text-dark">{{ adventure }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container">
                <div class="row g-5 g-xl-5">
                    <div class="col-lg-6 col-xxl-4">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Training" %}s</div>
                                <div class="fs-4 fw-bold text-gray-400 mb-7">{% translate "Level" %}-{% translate "Training" %} ({% translate "Location" %})</div>
                                {% for training in trainings %}
                                    <div class="fw-bold">{{ training.difficulty }}-{{ training }} ({% if training.location.coordinates %}<a data-bs-toggle="modal" data-bs-target="#modal_map" href="" data-bs-position="{{ training.location.coordinates }}">{{ training.location }}</a>{% else %}{{ training.location }}{% endif %})</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Book" %}s</div>
                                <div class="fs-4 fw-bold text-gray-400 mb-7">{% translate "Book" %} / {% translate "Reputation" %} ({% translate "Location" %})</div>
                                {% for book in books %}
                                    <div class="fw-bold"><span data-popover-remote="{{ book.get_absolute_url }}" data-title="{{ book }}">{{ book }}</span> / {{ book.get_reputation|default:none }} ({% if book.get_location.coordinates %}<a data-bs-toggle="modal" data-bs-target="#modal_map" href="" data-bs-position="{{ book.get_location.coordinates }}">{{ book.get_location }}</a>{% else %}{{ book.get_location }}{% endif %})</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Blue Flags" %}</div>
                                <div class="fs-4 fw-bold text-gray-400 mb-7">{% translate "Level" %}-{% translate "Blue Flag" %}</div>
                                {% for flagstep in flagsteps %}
                                    <div class="fw-bold">{{ flagstep.difficulty }}-{% if flagstep.flag.coordinates %}<a data-bs-toggle="modal" data-bs-target="#modal_map" href="" data-bs-position="{{ flagstep.flag.coordinates }}">{{ flagstep.flag }}</a>{% else %}{{ flagstep.flag }}{% endif %}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
