{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block pagetitle %}Basics{% endblock %}

{% block menu_basics %}kt-menu__item--active{% endblock %}

{% block corpsdepage %}
                    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="row">
								<div class="col-sm-3">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Land" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for land in lands %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
                                                        <span class="kt-list-timeline__text"><a href="{{ land.get_absolute_url }}">{{ land }}</a></span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
								<div class="col-sm-3">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Adventure" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for adventure in adventures %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
														<span class="kt-list-timeline__text"><a href="{{ adventure.get_absolute_url }}">{{ adventure }}</a></span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
								<div class="col-sm-3">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Crafting" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for crafting in craftings %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
														<span class="kt-list-timeline__text"><a href="{{ crafting.get_absolute_url }}">{{ crafting }}</a></span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
								<div class="col-sm-3">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Gathering" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for gathering in gatherings %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
														<span class="kt-list-timeline__text"><a href="{{ gathering.get_absolute_url }}">{{ gathering }}</a></span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
								<div class="col-sm-3">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Weapon" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for weapon in weapons %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
														<span class="kt-list-timeline__text"><a href="{{ weapon.get_absolute_url }}">{{ weapon }}</a></span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
								<div class="col-sm-3">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Reputation" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for reputation in reputations %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
														<span class="kt-list-timeline__text"><a href="{{ reputation.get_absolute_url }}">{{ reputation }}</a></span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
								<div class="col-sm-3">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Companion" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for companion in companions %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
														<span class="kt-list-timeline__text"><span data-popover-remote="{{ companion.get_absolute_url }}" data-title="{{ companion }}">{{ companion }}</span> ({% if companion.location.coordinates %}<a data-toggle="modal" data-target="#modal_map" href="" data-position="{{ companion.location.coordinates }}">{{ companion.location }}</a>{% else %}{{ companion.location }}{% endif %})</span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
								<div class="col-sm-3">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													{% translate "Guild" %}s
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list-timeline">
                                                {% for guild in guilds %}
												<div class="kt-list-timeline__items">
													<div class="kt-list-timeline__item">
														<span class="kt-list-timeline__badge"></span>
														<span class="kt-list-timeline__text"><a href="{{ guild.get_absolute_url }}">{{ guild }}</a></span>
													</div>
												</div>
                                                {% endfor %}
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}

{% block js %}
    <style>
    .popover {
        min-width: 30em !important;
    }
    </style>

    <script>
        $(document).ready(function () {
            var popoverRemoteContents = function (element) {
                if ($(element).data('loaded') !== true) {
                    var div_id = 'tmp-id-' + $.now();
                    $.ajax({
                        url: $(element).data('popover-remote'),
                        success: function (response) {
                            $('#' + div_id).html(response);
                            $(element).attr("data-loaded", true);
                            $(element).attr("data-content", response);
                            return $(element).popover('update');
                        }
                    });
                    return '<div id="' + div_id + '">{% translate "Loading..." %}</div>';
                } else {
                    return $(element).data('content');
                }
            };

            $('[data-popover-remote]')
                .click(false)
                .popover({
                    html: true,
                    trigger: 'hover',
                    sanitize: false,
                    container: 'body',
                    content: function () {
                        return popoverRemoteContents(this);
                    }
                });
        });
    </script>
{% endblock %}