{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block pagetitle %}Basics{% endblock %}

{% block menu_basics %}active{% endblock %}

{% block corpsdepage %}

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <div class="d-flex align-items-center me-3">
                    <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">{% translate "Basics" %}</h1>
                </div>
            </div>
        </div>

        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container">
                <div class="row g-5 g-xl-8">
                    <div class="col-lg-4 col-xxl-3">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Land" %}s</div>
                                {% for land in lands %}
                                    <div class="fw-bold"><a href="{{ land.get_absolute_url }}">{{ land }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xxl-3">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Adventure" %}s</div>
                                {% for adventure in adventures %}
                                    <div class="fw-bold"><a href="{{ adventure.get_absolute_url }}">{{ adventure }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xxl-3">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Crafting" %}s</div>
                                {% for crafting in craftings %}
                                    <div class="fw-bold"><a href="{{ crafting.get_absolute_url }}">{{ crafting }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xxl-3">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Gathering" %}s</div>
                                {% for gathering in gatherings %}
                                    <div class="fw-bold"><a href="{{ gathering.get_absolute_url }}">{{ gathering }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xxl-3">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Weapon" %}s</div>
                                {% for weapon in weapons %}
                                    <div class="fw-bold"><a href="{{ weapon.get_absolute_url }}">{{ weapon }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xxl-3">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Reputation" %}s</div>
                                {% for reputation in reputations %}
                                    <div class="fw-bold"><a href="{{ reputation.get_absolute_url }}">{{ reputation }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xxl-3">
                        <div class="card h-100">
                            <div class="card-body p-9">
                                <div class="fs-2hx fw-bolder">{% translate "Guild" %}s</div>
                                {% for guild in guilds %}
                                    <div class="fw-bold"><a href="{{ guild.get_absolute_url }}">{{ guild }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
