{% load static %}
{% load i18n %}
<div>
    <table class="table table-row-bordered gy-5">
        <thead>
            <tr>
                <th>{% translate "Comfort" %}</th>
                <th>{% translate "Weapon" %}</th>
                <th>{% translate "Quest" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ companion.comfort }}</th>
                <th>{{ companion.weapon }}</th>
                <th>{{ companion.quest }}</th>
            </tr>
        </tbody>
    </table>
</div>