{% extends "_base.html" %}
{% load static %}

{% block pagetitle %}Home{% endblock %}

{% block menu_home %}kt-menu__item--active{% endblock %}

{% block corpsdepage %}
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Regions test
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th> Name </th>
                        <th> Land </th>
                        <th> Difficulty </th>
                    </tr>
                </thead>
                <tbody>
                    {% for region in regions %}
                    <tr class="table-danger">
                        <td> {{ region.name }} </td>
                        <td> {{ region.land }} </td>
                        <td> {{ region.difficulty }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
