{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block pagetitle %}{% translate ingredient_type %}s{% endblock %}

{% block pagelevelcss %}
        <link href="{% static "assets/plugins/custom/datatables/datatables.bundle.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pagelevelplugins %}
        <script src="{% static "assets/plugins/custom/datatables/datatables.bundle.js" %}" type="text/javascript"></script>
{% endblock %}

{% block menu_ingredients %}hover show{% endblock %}
{% block menu_powder %}{% if ingredient_type == 'Powder' %}active{% endif %}{% endblock %}
{% block menu_substance %}{% if ingredient_type == 'Substance' %}active{% endif %}{% endblock %}

{% block corpsdepage %}

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <div class="d-flex align-items-center me-3">
                    <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">{% translate ingredient_type %}s</h1>
                </div>
            </div>
        </div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container">
                <div class="card">
                    <div class="card-body fs-6 p-10 p-lg-15">
                        <div class="pb-10">
                            <h1 class="anchor fw-bolder mb-5" id="column-rendering">{% translate ingredient_type %}s</h1>
                            <div class="my-5">
                                <table id="ingredients" class="table table-striped border rounded gy-5 gs-7">
                                    <thead>
                                    <tr class="fw-bold fs-6 text-gray-800">
                                        <th class="kt-font-light">{% translate "Name" %}</th>
                                        <th class="kt-font-light">{% translate "Level" %}</th>
                                        <th class="kt-font-light">Lithram</th>
                                        <th class="kt-font-light">Magnam</th>
                                        <th class="kt-font-light">Radiam</th>
                                        <th class="kt-font-light">Hydram</th>
                                        <th class="kt-font-light">Pyram</th>
                                        <th class="kt-font-light">Stratam</th>
                                        <th class="kt-font-light">{% translate "Difficulty" %}</th>
                                        <th class="kt-font-light">{% translate "Encumbrance" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for elem in qs %}
                                            <tr>
                                                <th>{{ elem }}</th>
                                                <th>{{ elem.level }}</th>
                                                <th>{{ elem.lithram|default_if_none:"" }}</th>
                                                <th>{{ elem.magnam|default_if_none:"" }}</th>
                                                <th>{{ elem.radiam|default_if_none:"" }}</th>
                                                <th>{{ elem.hydram|default_if_none:"" }}</th>
                                                <th>{{ elem.pyram|default_if_none:"" }}</th>
                                                <th>{{ elem.stratam|default_if_none:"" }}</th>
                                                <th>{{ elem.difficulty|default_if_none:"" }}</th>
                                                <th>{{ elem.encumbrance }}</th>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {

        $('#ingredients').DataTable( {
            "paging":   false,
            "info": false,
            "columnDefs": [
                {
                    orderable:true,
                    "targets":[0,1,2,3,4,5,6,7,8,9]
                },
                {
                    searchable:true,
                    "targets":[0,1,2,3,4,5,6,7,8,9]
                }
            ],
            "order": [[0, 'asc']],
            dom:"<'row'<'col-sm-6 d-flex align-items-center justify-conten-start'l><'col-sm-6 d-flex align-items-center justify-content-end'f>><'table-responsive'tr><'row'<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i><'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>>"
        } );

    });
</script>
{% endblock %}
