{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block pagetitle %}{% translate "Region" %}s{% endblock %}

{% block pagelevelcss %}
        <link href="{% static "assets/plugins/custom/datatables/datatables.bundle.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pagelevelplugins %}
        <script src="{% static "assets/plugins/custom/datatables/datatables.bundle.js" %}" type="text/javascript"></script>
{% endblock %}

{% block menu_geography %}hover show{% endblock %}
{% block menu_regions %}active{% endblock %}

{% block corpsdepage %}

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <div class="d-flex align-items-center me-3">
                    <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">{% translate "Region" %}s</h1>
                </div>
            </div>
        </div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container">
                <div class="card">
                    <div class="card-body fs-6 p-10 p-lg-15">
                        <div class="pb-10">
                            <h1 class="anchor fw-bolder mb-5" id="column-rendering">{% translate "Region" %}s</h1>
                            <div class="my-5">
                                <table id="regions" class="table table-striped border rounded gy-5 gs-7">
                                    <thead>
                                    <tr class="fw-bold fs-6 text-gray-800">
                                        <th>{% translate "Name" %}</th>
                                        <th>{% translate "Land" %}</th>
                                        <th>{% translate "Difficulty" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for region in regions %}
                                        <tr>
                                            {% trans '-- no translation yet --' as transl %}
                                            <th>{% if region.coordinates %}<a data-bs-toggle="modal" data-bs-target="#modal_map" href="" data-bs-position="{{ region.coordinates }}">{{ region|default_if_none:transl }}</a>{% else %}{{ region|default_if_none:transl }}{% endif %}</th>
                                            <th>{{ region.land|default_if_none:"" }}</th>
                                            <th>{{ region.land_difficulty|default_if_none:"" }}</th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {

            $('#regions').DataTable( {
                "paging":   false,
                "info": false,
                "columnDefs": [
                    {
                        orderable:true,
                        "targets":[0,1,2]
                    },
                    {
                        searchable:true,
                        "targets":[0,1,2]
                    },
                ],
                "order": [[0, 'asc']],
                dom:"<'row'<'col-sm-6 d-flex align-items-center justify-conten-start'l><'col-sm-6 d-flex align-items-center justify-content-end'f>><'table-responsive'tr><'row'<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i><'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>>"
            } );

        });
    </script>
{% endblock %}
